<!doctype html>
<html lang="es">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/estilos.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.8/css/solid.css">
    <script src="https://use.fontawesome.com/releases/v5.0.7/js/all.js"></script>

    <title>Login</title>
  </head>
  <body>
    <div id="app" >
        <div class="modal-dialog text-center">
            <div class="col-sm-8 main-section">
              <div class="modal-content">
                  <div class="col-12 Imagen-usuario">
                    <img src="Imagenes/avatar3.png">
                  </div>
                  <form  @submit="enviar"  class="col-12">
                     <div class="form-group" id="Nombre-usuario">
                       <input type="text"name="cod" class="form-control" placeholder="codigo" v-model="codigo"/>
                     </div>
                     <div class="form-group" id="Contraseña-usuario">
                       <input type="password"name="contra" class="form-control" placeholder="Contraseña"v-model="nuevacontraseña" />
                     </div>
                     <button type="submit" class="btn btn-success"><i class="fas fa-sign-in-alt"></i>  Ingresar </button>
                  </form>
                  <div class="col-12 forgot">
                
                    <a href="recordarcontraseña.html">Recordar contrasena?</a>
                  </div>
              </div>
            </div>
          </div>
         
    </div>
 

     
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="js/bootstrap.min.js"></script>
    <script src="js/vue.js"></script>
    <script src="js/vue.min.js"></script>
    <script src="js/confirmar.js"></script>
     
  </body>
</html>
